[*.lua]
quote_style = double
trailing_table_separator = always
call_arg_parentheses = remove
align_array_table = false
align_chain_expr = false
end_statement_with_semicolon = same_line
space_after_comment_dash = true
